{@java.lang.String recipientRole}
{@java.lang.Boolean byOwner}
{#include email/layout}
{#title}{msg:email_cancellation_title}{/title}
{#if byOwner}
  {#if recipientRole == 'owner'}
<p><strong>{msg:email_cancellation_body}</strong></p>
  {#else}
<p><strong>{msg:email_cancellation_body_by_owner(ownerName)}</strong></p>
  {/if}
{#else}
  {#if recipientRole == 'owner'}
<p><strong>{msg:email_cancellation_body_owner(inviteeName)}</strong></p>
  {#else}
<p><strong>{msg:email_cancellation_body}</strong></p>
  {/if}
{/if}
<ul>
  <li><strong>{msg:email_body_meeting_label}</strong> {meetingTypeName}</li>
  <li><strong>{msg:email_cancellation_was_scheduled}</strong> {startTime}</li>
  <li><strong>{msg:email_body_duration_label}</strong> {msg:email_body_duration_minutes(durationMinutes)}</li>
</ul>
{/include}
