{@java.lang.String recipientRole}
{#include email/layout}
{#title}{msg:email_confirmation_title}{/title}
{#if recipientRole == 'owner'}
<p><strong>{msg:email_confirmation_body_owner(inviteeName)}</strong></p>
{#else}
<p><strong>{msg:email_confirmation_body}</strong></p>
{/if}
<ul>
  <li><strong>{msg:email_body_meeting_label}</strong> {meetingTypeName}</li>
  <li><strong>{msg:email_body_when_label}</strong> {startTime}</li>
  <li><strong>{msg:email_body_duration_label}</strong> {msg:email_body_duration_minutes(durationMinutes)}</li>
  {#include email/_location /}
</ul>
{#include email/_answers /}
{#if recipientRole == 'owner'}{#include email/_ownerlinks /}{#else}{#include email/_inviteelinks /}{/if}
{/include}
