{@java.lang.String lang}
<!DOCTYPE html>
<html lang="{lang}" dir="{#if lang == 'he'}rtl{#else}ltr{/if}">
<head><title>{msg:email_google_disconnected_title}</title></head>
<body>
<p>{msg:email_google_disconnected_greeting}</p>
<p>{msg:email_google_disconnected_body(accountEmail)}</p>
<p>{msg:email_google_disconnected_paused}</p>
<p><a href="{reconnectUrl}">{msg:email_google_disconnected_btn}</a></p>
<p>{msg:email_paste_link_hint}<br>{reconnectUrl}</p>
<p>{msg:email_google_disconnected_why}</p>
</body>
</html>
