{@java.lang.String lang}
{@java.lang.String greetingName}
{@java.lang.String guestEmail}
{@java.lang.String meetingTypeName}
{@java.lang.String startTime}
{@java.lang.String manageUrl}
{#include email/layout}
{#title}{msg:email_guest_declined_title}{/title}
<p>{msg:email_guest_declined_body(guestEmail)}</p>
<ul>
  <li><strong>{msg:email_body_meeting_label}</strong> {meetingTypeName}</li>
  <li><strong>{msg:email_body_when_label}</strong> {startTime}</li>
</ul>
<p><a href="{manageUrl}">{msg:email_body_manage_link_text}</a></p>
{/include}
