{@java.lang.String recipientRole}
{@java.lang.String lang}
{@java.lang.String greetingName}
{@java.lang.String inviteeName}
{@java.lang.String meetingTypeName}
{@java.lang.String startTime}
{@java.lang.Integer durationMinutes}
{@java.lang.String location}
{@java.lang.Boolean isMeetLink}
{@java.lang.String manageUrl}
{@java.lang.String ownerManageUrl}
{@java.lang.String cancelUrl}
{@java.util.List<site.asm0dey.calit.email.EmailService$AnswerLine> answers}
{#include email/layout}
{#title}{msg:email_reminder_title}{/title}
{#if recipientRole == 'owner'}
<p><strong>{msg:email_reminder_body_owner(inviteeName)}</strong></p>
{#else}
<p><strong>{msg:email_reminder_body}</strong></p>
{/if}
<ul>
  <li><strong>{msg:email_body_meeting_label}</strong> {meetingTypeName}</li>
  <li><strong>{msg:email_body_when_label}</strong> {startTime}</li>
  <li><strong>{msg:email_body_duration_label}</strong> {msg:email_body_duration_minutes(durationMinutes)}</li>
  {#include email/_location /}
</ul>
{#include email/_answers /}
{#if recipientRole == 'owner'}{#include email/_ownerlinks /}{#else}{#include email/_inviteelinks /}{/if}
{/include}
